<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Home</title>
    <script src="/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">

</head>

<body>
    <header>


        <div class="busquedalogo-contenedor">

            <div class="img-cont">
                <img src="/images/logo-mercado-liebre.svg">
            </div>


            <div class="buscar-cont">
                <form action=" ">
                    <input type="text" name="nombre" placeholder="Buscar productos, marcas" />
                    <button> <i class="fa-solid fa-magnifying-glass"></i> </button>
                </form>
            </div>

            <div class="full">
                <p class="cuotas"><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</p>

            </div>


        </div>
        <div class="mobile">
            <p class="cuotas"><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</p>
            <div class="burguer">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>

        <nav class="navbar-full">

            <div>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a href="register">Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                    <li><a href="login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </nav>



    </header>

    <img src="/images/img-home-banner.jpg">


    <main>

        <p id="titulares"><b>Basado en tu última visita</b></p>

        <div class="container">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="articulo">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="precio-desc">
                        <p id="precio">$70.500</p>
                        <p id="descuentos">10% off</p>
                    </div>
                    <p id="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
        </div>


        <div class="container">
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="articulo">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="precio-desc">
                        <p id="precio">$230.000</p>
                        <p id="descuentos">20% off</p>
                    </div>
                    <p id="descripciones">MacBook Pro 2019</p>
                </div>
            </article>
        </div>

        <div class="container">
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="articulo">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="precio-desc">
                        <p id="precio">$70.500</p>
                        <p id="descuentos">10% off</p>
                    </div>
                    <p id="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
        </div>

        <div class="container">
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="articulo">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="precio-desc">
                        <p id="precio">$23.200</p>
                        <p id="descuentos">5% off</p>
                    </div>
                    <p id="descripciones">SmartTV Samsung 43"</p>
                </div>
            </article>
        </div>


        <p id="titulares"><b>Sección de ofertas</b></p>


        <div class="container">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="articulo">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="precio-desc">
                        <p id="precio">$6.770</p>
                        <p id="descuentos">40% off</p>
                    </div>
                    <p id="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
        </div>

        <div class="container">
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="articulo">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="precio-desc">
                        <p id="precio">$230.000</p>
                        <p id="descuentos">20% off</p>
                    </div>
                    <p id="descripciones">MacBook Pro 2019</p>
                </div>
            </article>
        </div>

        <div class="container">
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="articulo">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="precio-desc">
                        <p id="precio">$70.500</p>
                        <p id="descuentos">10% off</p>
                    </div>
                    <p id="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
        </div>


        <div class="container">
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="articulo">
                    <div class="envio"><i class="fa-solid fa-truck"></i></div>
                    <div class="precio-desc">
                        <p id="precio">$23.200</p>
                        <p id="descuentos">5% off</p>
                    </div>
                    <p id="descripciones">SmartTV Samsung 43"</p>
                </div>
            </article>
        </div>
    </main>

    <footer>

        <div class="footer-iconos"> 
                <div>
                <p class="icono"><i class="fa-solid fa-credit-card"></i></p>
                <p class="textoFooter"><b>Pagá con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </div>

            <div>
                <p class="icono"><i class="fa-solid fa-gift"></i></p>
                <p><b>Envío gratis desde $ 2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
                    un beneficio de Mercado Puntos.</p>
            </div>

            <div>
                <p class="icono"><i class="fa-solid fa-user-shield"></i></p>
                <p><b>Seguridad, de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                    estás siempre protegid@.</p>
            </div>
        </div>


        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>


</html>