<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../app.js"></script>

    
</head>
<body>
    <header>
    <img src="../public/images/logo-mercado-liebre.svg" >

    <p>Lugar para poner la barra de búsqueda</p>

    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
        <br>
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>
    </header>


    <main>
    <p><b>Basado en tu última visita</b></p>

    <img src="../public/images/img-cafetera-moulinex.jpg" width="200px" height="200px">
    <p>$6.770</p>
    <p>40% off</p>
    <p><b>Cafetera Moulinex</b></p>

    <img src="../public/images/img-macbook-pro-2019.jpg" width="200px" height="200px">
    <p>$230.000</p>
    <p>20% off</p>
    <p><b>MacBook Pro 2019</b></p>


    <img src="../public/images/img-samsung-galaxy-s10.jpg" width="200px" height="200px">
    <p>$70.500</p>
    <p>10% off</p>
    <p><b>Samsung Galaxy S10</b></p>

    <img src="../public/images/img-tv-samsung-smart.jpg" width="200px" height="200px">
    <p>$23.200</p>
    <p>5% off</p>
    <p><b>SmartTV Samsung 43"</b></p>


    <p><b>Sección de ofertas</b></p>

    <img src="../public/images/img-cafetera-moulinex.jpg" width="200px" height="200px">
    <p>$6.770</p>
    <p>40% off</p>
    <p><b>Cafetera Moulinex</b></p>

    <img src="../public/images/img-macbook-pro-2019.jpg" width="200px" height="200px">
    <p>$230.000</p>
    <p>20% off</p>
    <p><b>MacBook Pro 2019</b></p>


    <img src="../public/images/img-samsung-galaxy-s10.jpg" width="200px" height="200px">
    <p>$70.500</p>
    <p>10% off</p>
    <p><b>Samsung Galaxy S10</b></p>

    <img src="../public/images/img-tv-samsung-smart.jpg" width="200px" height="200px">
    <p>$23.200</p>
    <p>5% off</p>
    <p><b>SmartTV Samsung 43"</b></p>
    </main>
    <footer>
    
    <p><b>Pagá con tarjeta o en efectivo</b></p>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

    <p><b>Envío gratis desde $ 2.500</b></p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

    <p><b>Seguridad, de principio a fin</b></p>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>   

</body>


</html>