<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width=" 400px">
        <form action="resultado.html" method="POST">

            <input type="text" name="buscar" id="buscar" placeholder="Buscar productos, marcas   ">
        </form>

        <i class="fa-solid fa-magnifying-glass"></i>
        <p> <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito </p>
        <ul>
            <li> <a href=""> Ofertas </a></li>
            <li> <a href="">Tiendas Oficiales </a></li>
            <li> <a href="">Vender </a></li>
            <li> <a href="">Ayuda </a></li>
        </ul>
        <ul>
            <li> <a href="">Creá tu cuenta </a><i class="fa-regular fa-address-card"></i></li>
            <li> <a href=""> Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li> <a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>

        <form action="/login" method="POST">
<input type="texto" name="nombredeusario" id="nombredeusuario" placeholder="Nombre de usuario" minlength="5">
<br>
<input type="texto" name="elegitucontraseña" id="elegitucontraseña" placeholder="Elegí tu contraseña">
<br>
<input type="submit" value="enviar">


        </form>




</body>

</html>